.offcanvas-a{
    padding: 10px;
    display: block;
    text-align: center;
}
.search, .history{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .search, .history{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.search label{
    margin-top: 20px;
}
.start-search{
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 20px;

}